<ul class="small-block-grid-2 large-block-grid-2 images">
    <li>
      <%= image_tag("bonobo.jpg", class: "image") %>
    </li>
    <li>
      <%= image_tag("ludovico-einaudi.jpg", class: "image") %>
    </li>
    <li>
      <%= image_tag("theknocks.jpg", class: "image") %>
    </li>
    <li>
      <%= image_tag("black-keys.jpg", class: "image") %>
    </li>
</ul>

<%= link_to image_tag("music-note-circle.png", class: "circle"), '/auth/google_oauth2' %>

