<%= render :partial => 'partials/navbar' %>
<div class="small-block-grid-6 events">
  <%= @events %>
</div>
<!-- <div class="small-block-grid-6 events">
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
</div>
<div class="small-block-grid-6 events">
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
  <li><%= image_tag("default.jpg", class: "info") %></li>
</div> -->